Xamarin.iOS_BAC_/.vs/
Xamarin.iOS_BAC_/Xamarin.iOS_BAC_.csproj.user
AndroidBAC/*.iml
AndroidBAC/.gradle
AndroidBAC/local.properties
AndroidBAC/.idea/workspace.xml
AndroidBAC/.idea/libraries
AndroidBAC/.DS_Store
AndroidBAC/build
AndroidBAC/captures
AndroidBAC/externalNativeBuild
Xamarin.Forms_BAC/Xamarin.Forms_BAC.sln.DotSettings
Xamarin.iOS_BAC_/bin/iPhone/
Xamarin.iOS_BAC_/bin/iPhoneSimulator/
Xamarin.iOS_BAC_/obj/iPhone/
Xamarin.iOS_BAC_/obj/iPhoneSimulator/
Xamarin.Forms_BAC/Xamarin.Forms_BAC.iOS/bin/iPhone/
Xamarin.Forms_BAC/Xamarin.Forms_BAC.iOS/bin/iPhoneSimulator/
Xamarin.Forms_BAC/Xamarin.Forms_BAC.iOS/obj/iPhone/
Xamarin.Forms_BAC/Xamarin.Forms_BAC.iOS/obj/iPhoneSimulator/
Xamarin.Forms_BAC.sln.DotSettings








